<h1>Текст задания:</h1>

<p>Дано натуральное число m. Написать программу, определяющую такое натуральное число n, что двоичная запись числа n получается из двоич- ной записи числа m изменением порядка цифр на обратный порядок их следования. Например: 6 = 110 , а 3 = 011. Вывести на печать числа и их двоичное представление.</p>

<div id="form">
  <%= form_with method: :post, url: ajax_result_url do |form| %>
    <%= form.text_field :value, required: true %>
    <%= form.submit 'Отправить' %>
  <% end %>
</div>

<div id="result">
</div>
